<div class="practiceDetails">
    <div class="container-fluid">
      <div class="headerMain">
        <h2 class="practiceDetailsHeader">Our Practice Area</h2>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class="contentTabs">
        <div class="contentwrap d-flex align-items-start">
          <div
            class="nav flex-column nav-pills"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <button
              class="nav-link active"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-home"
              type="button"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
            >
              <i class="fa-solid fa-people-group me-2"></i>
              <span>Family Law</span>
            </button>
            <button
              class="nav-link"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-profile"
              type="button"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
            >
              <i class="fa-solid fa-car-side me-2"></i>
              <span>Car Accidents</span>
            </button>
  
            <button
              class="nav-link"
              id="v-pills-messages-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-messages"
              type="button"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
            >
              <i class="fa-solid fa-gavel me-2"></i>
              <span>Wrongful Death</span>
            </button>
  
            <button
              class="nav-link"
              id="v-pills-real-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-real"
              type="button"
              role="tab"
              aria-controls="v-pills-real"
              aria-selected="false"
            >
              <i class="fa-solid fa-house-user me-2"></i>
              <span>Real Estate</span>
            </button>
            <button
              class="nav-link"
              id="v-pills-settings-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-settings"
              type="button"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
            >
              <i class="fa-solid fa-user me-2"></i>
              <span>Immigration Law</span>
            </button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
              tabindex="0"
            >
              <h4>Family Law</h4>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              pariatur a tempore amet esse vel, magni dolores. Et, nemo fugiat.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
              dignissimos nam similique sint praesentium nisi ipsam consequuntur
              cum quae quod! Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. At recusandae amet eum autem dolore, quisquam placeat eos
              aperiam alias debitis quaerat minima vero explicabo distinctio
              voluptates, iure voluptate veniam minus? Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Obcaecati, est. Veniam mollitia vitae,
              itaque ut nam deserunt maxime quidem asperiores aliquid nemo
              voluptatum, incidunt eveniet nisi odio, nesciunt modi atque? Nam eum
              tenetur deserunt ipsam voluptas deleniti officia! Omnis voluptates,
              in dolor soluta asperiores accusamus fuga voluptatum nulla optio
              veniam consectetur quis. Saepe ipsa illum eos harum, illo excepturi
              sit? Ut illo quam rem neque quas expedita sit? Laboriosam veniam
              error voluptate nobis soluta placeat voluptatum odit laudantium
              doloribus eius, exercitationem, optio dignissimos recusandae quam
              sint corporis distinctio molestias harum. Iste, fugiat iure. Veniam
              pariatur fugiat officiis quis explicabo necessitatibus assumenda,
              dolorem consectetur praesentium. Consequatur recusandae ad incidunt
              deleniti molestiae adipisci sit, vel dignissimos, unde, veniam
              possimus quo architecto porro!
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
              tabindex="0"
            >
              <h4>Car Accidents</h4>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
              doloribus expedita in fugit voluptatum perspiciatis itaque veritatis
              fugiat quod vitae modi molestias incidunt aut et nobis, eius eaque
              quaerat ab. Architecto dolorum, officia totam assumenda, nulla amet
              facilis autem laborum nisi eos quaerat dolor animi quidem id, vel
              quia. Maiores ut minima iure eius officia placeat, accusantium iusto
              impedit consectetur? Deleniti debitis porro magnam expedita impedit
              veniam dolorum ipsum sit, quo velit, distinctio ipsa, assumenda
              omnis accusamus vitae nobis nihil. Fugit, molestias! Magnam
              repellendus ratione quas voluptatibus, neque cum amet? Rerum et
              eligendi animi repudiandae pariatur dolores. Repellat commodi neque,
              quos quod autem quaerat ipsam. Autem laborum, eos eum esse nobis
              omnis nostrum nihil expedita, distinctio, quibusdam nam odit dicta?
              Quaerat temporibus numquam necessitatibus excepturi explicabo
              dolores minima laborum quas odio odit deleniti non sed sapiente nam
              voluptates mollitia molestiae est rem, consequatur corrupti unde
              quae. Blanditiis ullam nihil modi? Unde veritatis minima
              perspiciatis provident esse accusantium, fugiat eaque. Consequuntur
              illum temporibus harum rerum molestias aspernatur atque recusandae
              placeat minus omnis, quia hic, et quae quibusdam repellendus? Porro,
              adipisci pariatur? Commodi omnis cumque libero inventore culpa
              doloremque nulla illo, dolorem natus voluptas autem, esse deleniti
              nisi ea cum? Doloribus eaque dolorum vitae mollitia libero. Itaque
              unde eos praesentium explicabo ullam? Maxime sit nulla esse in,
              facere reprehenderit natus porro et aliquam obcaecati quibusdam
              repellat libero vero tempore accusantium, est quae consequuntur nam
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
              tabindex="0"
            >
              <h4>Wrongful Death</h4>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
              qui amet ab? Tenetur eaque recusandae provident velit sunt ipsa iure
              accusantium, vero eveniet iusto, deleniti dolores quia molestias
              expedita error. Obcaecati sapiente quas magni totam harum minus
              magnam ducimus, iusto, enim ullam, distinctio eius vero ratione
              vitae asperiores minima error neque earum. Deleniti itaque explicabo
              illum odit nesciunt ex beatae. Deserunt quod, nulla autem porro illo
              sit repellendus aut eius voluptatum inventore ipsam aspernatur
              aliquid, odio beatae placeat temporibus impedit, a voluptatibus eum
              quam. Hic omnis a laudantium maxime adipisci. Ad, repudiandae
              mollitia impedit, nemo eum corporis adipisci iste voluptate
              perferendis cupiditate, esse illo? Voluptate a voluptatibus
              accusamus? Assumenda quia neque voluptate vitae rerum impedit optio
              consequuntur omnis magni quis. Sit ipsam, accusantium aperiam sunt,
              veritatis minima deleniti sequi soluta odit fugiat laborum esse
              labore nemo nam assumenda? Aliquid omnis dolorem inventore vel
              mollitia quos neque. Delectus natus sunt eos! Et commodi officia
              unde dolorem culpa qui inventore illum, similique quibusdam
              voluptates cumque rem autem reiciendis delectus natus! Autem
              possimus pariatur blanditiis dolore quasi ea eveniet nam aliquam
              sapiente quibusdam. Numquam soluta doloribus quisquam quam beatae
              quia voluptatem quod dolorem animi quis accusantium maxime, minus
              delectus reiciendis deleniti quas porro ut harum libero quo
              voluptatum eligendi? Adipisci iusto fuga aspernatur. Fugiat esse
              pariatur voluptatem atque asperiores quas animi iure consequatur
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-real"
              role="tabpanel"
              aria-labelledby="v-pills-real-tab"
              tabindex="0"
            >
              <h4>xxx Real Estate</h4>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              iusto molestias, eum et blanditiis numquam assumenda quam sit! Quia
              adipisci praesentium velit voluptatem libero ducimus itaque
              deleniti, a error explicabo. Nostrum molestias eius tempore maiores
              at, dolores soluta impedit. Sint totam velit ea consequuntur non
              amet, aliquid nam exercitationem eveniet architecto inventore unde,
              aut, voluptate quos dicta enim in ex. Ipsa molestiae eius facilis
              quaerat. Amet ducimus recusandae quod quam adipisci quos a placeat
              excepturi aliquam in, aut sapiente quo cumque qui deleniti commodi,
              architecto necessitatibus, ullam porro non voluptates. Ut velit
              optio expedita quam consectetur. Velit veniam voluptate quos maiores
              aperiam laboriosam, optio cupiditate, perferendis eos illum, nulla
              unde iste repellat consectetur voluptatibus ut tempore voluptas
              animi laborum inventore. Mollitia nihil nostrum perferendis
              necessitatibus ullam dolorem ad neque, aliquam, quia tempore quis
              doloribus officia, ea doloremque consequatur rerum temporibus quas
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-settings"
              role="tabpanel"
              aria-labelledby="v-pills-settings-tab"
              tabindex="0"
            >
              <h4>Immigration Law</h4>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis,
              consequatur nesciunt? Amet iure perspiciatis consectetur autem
              aliquam, accusamus minus cumque quod laborum asperiores quaerat,
              pariatur saepe natus, ullam explicabo enim. Reprehenderit numquam
              aliquam laudantium. Doloremque voluptatibus omnis dolorem sint
              laudantium sapiente doloribus eius est, fuga unde quia blanditiis
              consequuntur natus error. Itaque voluptate eos recusandae optio
              laudantium saepe, illo doloribus? Maiores, mollitia blanditiis fuga
              rem neque voluptas soluta illum asperiores culpa? Obcaecati laborum
              vel facere unde ad cumque similique beatae, soluta illum quaerat
              ipsa ut voluptatem explicabo odio. Praesentium, voluptatibus. Rem
              eum eos necessitatibus ab tenetur at doloribus magnam quibusdam
              laboriosam aperiam debitis reprehenderit unde, qui assumenda
              molestias facilis? Totam, quas! Explicabo voluptas nesciunt corrupti
              sint tempora sapiente eum odit. Debitis laudantium temporibus,
              eveniet facere, optio, cumque culpa reprehenderit iusto similique
              explicabo itaque! Animi officia error delectus qui eveniet sit,
              deleniti eligendi commodi quia molestias est ipsam assumenda itaque
              magnam? Exercitationem alias sunt maxime. Odit veniam qui quam ab
              sequi tempora porro cumque dolore voluptatibus. Non molestiae,
              doloribus ex, in reiciendis, quis voluptas quam minus maxime dolore
              debitis asperiores voluptatibus.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
