
<div class="contract">
    <div class="container-fluid">
      <div class="cotractText text-center">
        <h1>Avocato Group:</h1>
        <p class="col-11 col-md-10 col-lg-8 m-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet alias
          perferendis soluta obcaecati molestiae ducimus molestias numquam eius
          neque sapiente quasi aspernatur blanditiis porro, nobis laboriosam
          corporis eos vero praesentium. Corporis cum numquam laborum odio neque,
          nisi, tenetur, dolorem sed similique nesciunt voluptate recusandae quas
          unde natus suscipit eveniet hic harum error esse fugit consequuntur eius
          deserunt incidunt. Error, numquam! Fuga sed accusamus est cupiditate
          voluptatum nesciunt veritatis qui quos doloribus minus exercitationem
         </p>
      </div>
      <div class="imge text-center mt-3">
          <img [src]="image1" alt="">
      </div>
    </div>
  </div>
  